body{
  background: hsl(30, 38%, 92%);
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  border-radius: 10px;
}

.card-1{
  width: 220px;
  height: 400px;
  background-image: url('./images/image-product-desktop.jpg');
  background-size: contain;

}
.card-2 {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 400px;
  margin-left: 0;
  background: white;
}
.card-2 h3{
  align-self: center;
  
}
.card-2 h2{
  margin: 15px;
 
}
img{
  height: 220px;
  height: 400px;
}
button{
  color: white;
  background: hsl(158, 36%, 37%);
  /* margin-top: 50px;
  margin-left: 20px; */
  margin: 40px 20px;
  padding: 15px;
  border-radius: 15px;
}
p{
  font-size: 14px;
  margin: 15px;
}
.price-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.price{
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.line-through{
  text-decoration: line-through;
}
.button-img{
  width: 20px;
  height: 20px;
  margin-right: 3px;
}